{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block body %}

<style type="text/css">
  #id_title {
    width: 90%;
    padding: 10px;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid" style="margin-top: -40px; background: white; box-shadow: 1px 1px 10px 1px black; padding: 10px; width: 60%;">
        <form action="" method="post">
        	{% csrf_token %}
        <h1>Write a Post</h1>
        <hr>

        <div class="form-group">

          {{form.media}}

          
          <p style="width:100%;">{{form.title}}</p>

          <br><br>

          <p>Content: </p>
          {{form.content}}

        </div>

        <button type="submit" class="btn btn-primary">Publish</button>
        </form>
    </div>

</div>



{% endblock %}